[submodule "libs/breakpad"]
	path = libs/breakpad
	url = https://github.com/DaemonEngine/breakpad.git
[submodule "libs/crunch"]
	path = libs/crunch
	url = https://github.com/DaemonEngine/crunch.git
[submodule "libs/freetype"]
	path = libs/freetype
	url = https://github.com/DaemonEngine/freetype.git
[submodule "libs/googletest"]
	path = libs/googletest
	url = https://github.com/DaemonEngine/googletest.git
[submodule "libs/pdcursesmod"]
	path = libs/pdcursesmod
	url = https://github.com/DaemonEngine/PDCursesMod.git
